<?xml version="1.0"?> <launch> <arg name="use_amcl" default="false" /> <arg name="use_mapping" default="false" /> <arg name="hostname" default="192.168.137.223" /> <include file="$(find robot_project)/launch/sick_mrs_1xxx.launch"> <arg name="hostname" value="$(arg hostname)" /> </include> <group if="$(arg use_mapping)"> <include file="$(find robot_project)/launch/default_mapping.launch" /> </group> <group if="$(arg use_amcl)"> <include file="$(find robot_project)/launch/amcl.launch" /> </group> <node pkg="robot_project" type="keyboard_pub.py" name="keyboard_teleop" output="screen" /> </launch>
